---
include:
  - project: platform/devsecops-template
    ref: v1.0.0
    file:
      - /templates/gitlab/base.yml
      - /templates/gitlab/security/secrets.yml
      - /templates/gitlab/security/dependency.yml
      - /templates/gitlab/security/sast.yml
      - /templates/gitlab/deploy-staging.yml
      - /templates/gitlab/deploy-production.yml
      - /templates/gitlab/monitor.yml

variables:
  APP_NAME: "python-app"
  LANGUAGE: "python"
  PYTHON_VERSION: "3.12"

  # Use Trivy for unified security scanning (default)
  SECURITY_SCANNER: "trivy"

  ENABLE_DAST: "false"
  GITOPS_REPO: "git@gitlab.example.com:gitops/python-app.git"

build-application:
  stage: build
  image: python:${PYTHON_VERSION}-slim
  script:
    - python -m pip install -U pip
    - pip install -r requirements.txt
  artifacts:
    paths:
      - .venv/
    expire_in: 1 day
  rules:
    - when: on_success

unit-tests:
  stage: test
  image: python:${PYTHON_VERSION}-slim
  script:
    - python -m pip install -U pip
    - pip install -r requirements.txt
    - pip install pytest pytest-cov
    - pytest -q --junitxml=junit.xml --cov=. --cov-report=xml:coverage.xml
  artifacts:
    when: always
    reports:
      junit: junit.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    paths:
      - junit.xml
      - coverage.xml
