---
include:
  - project: platform/devsecops-template
    ref: v1.0.0
    file:
      - /templates/gitlab/base.yml
      - /templates/gitlab/security/secrets.yml
      - /templates/gitlab/security/dependency.yml
      - /templates/gitlab/security/sast.yml
      - /templates/gitlab/deploy-staging.yml
      - /templates/gitlab/deploy-production.yml
      - /templates/gitlab/monitor.yml

variables:
  APP_NAME: "drupal-app"
  LANGUAGE: "php"
  PHP_VERSION: "8.3"

  # Use Trivy for unified security scanning (default)
  SECURITY_SCANNER: "trivy"

  ENABLE_DAST: "true"
  STAGING_URL: "https://staging.drupal.example.com"
  GITOPS_REPO: "git@gitlab.example.com:gitops/drupal-app.git"

build-application:
  stage: build
  image: php:${PHP_VERSION}-cli
  script:
    - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
    - composer install --no-interaction --prefer-dist --optimize-autoloader
  artifacts:
    paths:
      - vendor/
      - web/            # oder docroot/ je nach Projektstruktur

unit-tests:
  stage: test
  image: php:${PHP_VERSION}-cli
  script:
    - vendor/bin/phpunit --configuration phpunit.xml
  artifacts:
    when: always
    reports:
      junit: junit.xml
    paths:
      - junit.xml
  rules:
    - if: $ENABLE_PHPUNIT == "true"
      when: on_success
    - when: never

lint-phpcs:
  stage: test
  image: php:${PHP_VERSION}-cli
  script:
    - vendor/bin/phpcs -q
  rules:
    - if: $ENABLE_PHPCS == "true"
